//===================//
//GLOBAL FONTS RULES//
//==================//

// Google Fonts Icons
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Niconne&family=Poppins:ital,wght@0,200;0,400;0,600;0,800;1,200;1,400;1,600;1,800&display=swap');

.text-niconne {
	font-family: 'Niconne', cursive;
}

.text-caveat {
	font-family: 'Caveat', cursive;
}

//* Replaces default font for every elements
p,
strong,
.is-italic,
em,
.content,
h1,
h2,
h3,
h4,
h5,
h6,
a {
	font-family: poppins, sans-serif;
	font-style: normal;
	paint-order: stroke fill;
	letter-spacing: 1px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	&.content,
	&.title {
		overflow-wrap: break-word;
		word-break: break-word;
		white-space: pre-line;
		word-spacing: 3px;
	}
	&.uppercase {
		text-transform: uppercase;
	}
	&.lowercase {
		text-transform: lowercase;
	}
	&.centered {
		text-align: center;
	}

	&.righted {
		text-align: right;
	}

	.indented {
		text-indent: 10%;
	}
	.nowrap {
		white-space: nowrap;
	}
}

p {
	&.justified {
		text-align: justify;
		text-align-last: auto;
		&-left {
			text-align: justify;
			text-align-last: left;
		}
		&-center {
			text-align: justify;
			text-align-last: center;
		}
		&-right {
			text-align: justify;
			text-align-last: right;
		}
	}
	&.legend {
		font-style: italic;
	}
	&.is-bold,
	strong {
		font-weight: bold;
	}
	&.is-italic,
	em {
		font-style: italic;
	}
	&.is-centered,
	em {
		text-align: center;
	}
}
