body {
	min-height: 100dvh;
	margin: 0;
	width: 100%;
	-webkit-font-smoothing: antialiased;
	/* APPLICATION'S BACKGROUND */
	background: radial-gradient(
		ellipse farthest-corner at 70% 90%,
		var(--primary-light-color),
		var(--primary-color) 100%
	);
	background-size: 100% 100%;
	animation: gradient 60s ease infinite;
	.user-view {
		display: block;
		height: calc(90dvh - 64px);
		width: 90%;
		max-width: 1280px;
		overflow-y: auto;
		position: relative;
		margin-block: 5dvh;
		margin-inline: auto;
	}
}
