body {
	min-height: 100dvh;
	margin: 0;
	width: 100%;
	-webkit-font-smoothing: antialiased;
	/* APPLICATION'S BACKGROUND */
	background: radial-gradient(
		ellipse farthest-corner at 70% 90%,
		var(--primary-light-color),
		var(--primary-color) 100%
	);
	background-size: 100% 100%;
	animation: gradient 60s ease infinite;
	lou-root main#global-container {
		position: relative;
		height: calc(100dvh - 64px);
		#page-content {
			display: flex;
			height: 85vh;
			@media (min-width: 768px) {
				height: 97%;
			}
			max-width: 100%;
			flex: 1;
			margin-inline: auto;
			& > lou-about {
				width: 100%;
			}
		}
	}
}

.spaceless {
	padding: 0 !important;
}
