lou-contact {
	.p-dialog {
		max-width: 728px;
	}
	.p-dialog-header {
		padding-block: 0 !important;
	}
	.p-dialog .p-dialog-content {
		padding-bottom: 0;
	}
	.p-dialog-footer {
		padding: 0.75rem !important;
	}
}
