.is-accent {
	color: var(--accent-color);
}

.surface-accent {
	background-color: var(--accent-color);
	color: white;
	border: none;
	&.p-button:hover {
		background-color: rgb(182, 81, 104) !important;
	}
}
