//* Scrollbar's width
::-webkit-scrollbar {
  width: .5rem;
  z-index: 0;
}

//* Track
::-webkit-scrollbar-track {
  border-radius: 4px;
  background-color: rgba(lightgrey, 0.6);
}

//* Handle
::-webkit-scrollbar-thumb {
  background: var(--color-primary-500);
  border-radius: .5rem;
}

//* Handle on hover
::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary-100);
}
