//* Scrollbar's width
::-webkit-scrollbar {
  width: 5px;
  z-index: 0;
}

//* Track
::-webkit-scrollbar-track {
  border-radius: 4px;
  background-color: rgba(lightgrey, 0.6);
}

//* Handle
::-webkit-scrollbar-thumb {
  background: var(--accent-color);
  border-radius: 2px;
}

//* Handle on hover
::-webkit-scrollbar-thumb:hover {
  background: var(--primary-light-color);
}