<ul
	role="navigation"
	id="navigation-links"
	class="w-full flex gap-3 pr-3 py-2 align-items-center justify-content-between">
	<li id="logo" class="flex-1 sm:flex-auto">
		<a
			pButton
			id="logo"
			routerLink="/home"
			class="p-button-text p-button-sm line-height-1 spaceless">
			<span class="hidden sm:inline-block text-niconne text-4xl">
				Louis Godlewski
			</span>
			<lou-icon class="max-w-3rem sm:hidden" name="logo-rounded"></lou-icon>
		</a>
	</li>
	<li *ngFor="let link of navigationLinks">
		<a pButton [routerLink]="'/' + link" class="p-button-text p-button-sm">
			{{ link }}
		</a>
	</li>
	<li>
		<lou-contact></lou-contact>
	</li>
</ul>
