lou-about {
	max-width: 95vw;
	@media (min-width: 728px) {
		.p-tabview-nav {
			display: flex;
			justify-content: space-evenly;
			li .p-tabview-nav-link:not(.p-disabled):focus {
				box-shadow: none !important;
			}
		}
	}
	.p-tabview-panels {
		background: none !important;
		position: relative;
		isolation: isolate;
		height: 100%;

		overflow: hidden;
		&:after {
			content: '';
			position: absolute;
			inset: -100px;
			background: rgba($color: #fff, $alpha: 0.25);
			filter: blur(100px);
			z-index: -1;
		}
	}
}
