/* You can add global styles to this file, and also import other style files */
:root {
	--primary: #169abb;
}
$foundation-palette: (
	'primary': #76d510,
	'secondary': #767676,
	'success': #3adb76,
	'warning': #ffae00,
	'alert': #cc4b37,
);

body {
	min-height: 100dvh;
	margin: 0;
	width: 100%;
}

* {
	box-sizing: border-box;
}

/* GLOBAL SELECTION STYLES */
::-moz-selection {
	background: #169abb;
	color: white;
}
::selection {
	background: #169abb;
	color: white;
}

.text-primary {
	color: blue;
}

@import url('./styles/atoms/button.scss');
@import url('./styles/atoms/list-item.scss');
@import url('./styles/atoms/typography.scss');
