/*
GLOBAL LAYOUT STYLES
Defines skeleton's styles.
*/
@import './variables.scss';
@import './mixins.scss';

/* MOUSE SELECTION */
::selection { background: $accent; color: $beige; }

/* GLOBAL SCROLLBARS STYLES */
::-webkit-scrollbar { width: 5px; z-index: 0;} /* scrollbar width */
::-webkit-scrollbar-track { border-radius: 10px; background-color: rgba($color: $beige, $alpha: .6) ; } /* Track */
::-webkit-scrollbar-thumb { background: $accent; border-radius: 10px; } /* Handle */
::-webkit-scrollbar-thumb:hover { background: $primary-light; } /* Handle on hover */

/* RESET DEFAULT SYLES GLOBALLY*/
*, *::after, *::before { margin: 0; padding: 0; box-sizing: inherit; }
html { box-sizing: border-box; }
html, body, #root, #app { min-height: 100vh; }
#app { padding-top: $nav-height; }
.icon-svg { svg { fill: currentColor; width: 100%; } }

ul.links { @include flex; li { margin: 0 1rem; } }
li { list-style-type: none; }
a { text-decoration: none; }
.animated { opacity: 0; }

img, .icon-svg {
    width: 100%;
    & > div { @include flex; }
}

/* APPLICATION'S BACKGROUND */
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: radial-gradient(ellipse farthest-corner at 90% 90%,$primary-light, $primary 100%);
    background-size: 300% 300%;
    animation: gradient 20s ease infinite;
}

/* UI MAIN ROUTES SECTIONS */
section.main-container {
    // padding-top: $sub-nav-height;
    @include sized(100%, $main-container-height);
    // @include flex(column nowrap);
    section.tab, .content {
        &.cols { flex-flow: column nowrap; &.start { justify-content: start; } }
        &.wrap { flex-wrap: wrap; align-content: center; }
    }
    section.tab {
        @include flex(column, flex-start);
        @include sized(100%, $main-container-height);
        @include overflow-y;
        padding-top: $sub-nav-height;
        .Typist { margin: $pad-bottop-sm }
        ul.list li {
            margin: .5rem 1.5rem;
            line-height: 1.8rem;
            font-weight: bold;
            list-style-type: disclosure-closed;
            width: 90%;
        }
    }
    .content {
        @include flex(row wrap, space-evenly, center);
        @include sized(100%, $tertiary-container-height);
    }
}

// TO delete when no longer needed ...
.construction {
    @include sized(40vw, auto);
    padding: 1rem 2rem;
    min-width: 300px;
    margin: 2rem auto;
    background: $beige;
    box-shadow: 1px 2px 4px rgba($color: $legend-dark, $alpha: .6);
    h1 {
        font-size: 2rem;
        text-align: center;
        text-transform: uppercase;
        color: $primary;
        border-bottom: 2px solid currentColor;
    }
    p {
        padding: $pad-sm;
        color: $legend;
    }
}
#algos, #apps {
    @include sized(100vw, $tertiary-container-height);
}
.icon-svg.close, .nav {
    filter: drop-shadow(1px 2px 4px rgba($color: #000, $alpha: .3)); cursor: pointer;
}