<header
	class="flex flex-wrap gap-3 justify-content-center md:justify-content-between">
	<img
		src="assets/images/svg/logo-rectangle.svg"
		alt=""
		class="h-6rem border-round overflow-hidden" />
	<h1
		class="p-component text-niconne text-5xl sm:text-5xl md:text-5xl lg:text-6xl surface-0 text-primary my-0 p-2 md:flex-1 text-center border-round w-full inline-flex justify-content-center align-items-center">
		Fullstack developer Typescript
	</h1>
</header>
<section class="w-full flex flex-wrap justify-content-between gap-3 mt-3">
	<div class="w-full lg:w-7">
		<p
			class="text-100 px-2 py-3 text-justify border-round inline-block m-0 line-height-3">
			Confirmed Web developer that loves to
			<strong>design and develop</strong> all sort of web projects ! <br />I can
			help you with the following tasks:
		</p>
		<ul class="pl-5">
			<li class="text-100 text-md list-disc my-1" *ngFor="let task of tasks">
				{{ task }}
			</li>
		</ul>
	</div>
	<div class="p-3 w-full lg:w-4 flex flex-wrap justify-content-center gap-5">
		<a
			[href]="contact.link"
			class="flex align-items-center gap-2 text-0 py-2"
			*ngFor="let contact of contactLinks">
			<i [class]="'text-3xl text-200 pi pi-' + contact.network.toLowerCase()">
			</i>
			<span class="border-bottom-1 border-0 text-sm text-100">{{
				contact.label
			}}</span>
		</a>
	</div>
</section>
<section
	id="qas"
	class="w-full flex flex-wrap gap-3 justify-content-between mt-3">
	<article
		style="min-width: 450px"
		class="card relative h-5rem overflow-hidden flex-1"
		*ngFor="let qa of qas">
		<h2
			class="absolute z-2 w-full h-full text-center surface-card text-primary font-normal line-height-4 border-round transition-all transition-duration-500 m-0 top-0 p-2 text-4xl text-niconne">
			{{ qa.question }}
		</h2>
		<p
			class="absolute z-1 h-full w-full text-0 bg-primary border-round p-3 m-0">
			{{ qa.answer }}
		</p>
	</article>
</section>
